#logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 30%;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

header {
  font-family: 'Average Sans', 'serif';
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 1px groove;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

nav a {
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.6;
}

.hamburger {
  display: none;
}

footer {
  font-family: 'Average Sans', 'serif';
  margin-top: 60px;
  padding: 30px 40px;
  border-top: 1px groove;
}

.footer-content {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.footer-text p {
  margin: 5px 0;
}

.footer-content a {
  text-decoration: none;
  transition: 0.3s;
}

.footer-content a:hover {
  opacity: 0.6;
}

/* media queries */

@media (max-width: 768px) {
  .hamburger {
    display: block;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  header {
    position: relative;
  }

  nav {
    display: none;
  }

  nav.nav-open {
    display: block;
    position: absolute;
    top: 100%;
    right: 20px;
    padding: 20px;
    min-width: 140px;
    background-color: #f2ebe1;
    border-radius: 8px;
    z-index: 10;
  }

  nav.nav-open ul {
  margin: 0;
  padding: 0;
  align-items: center;
}

nav.nav-open li {
  width: 100%;
  text-align: center;
}

  nav ul {
    flex-direction: column;
    gap: 15px;
  }
}