.home-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  font-size: larger;
}

.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.home-content h1 {
  font-family: 'Chewy', 'serif';
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.home-content p {
  font-family: 'Henny Penny', 'serif';
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 25px;
}

.home-image {
  width: 25rem;
  height: auto;
}

.home-image img {
  width: 100%;
  height: auto;
}

.home-content button {
  background-color: #b95c38;
  color: #f2ebe1;
  padding: 12px 24px;
  font-family: 'Average Sans', 'serif';
  font-size: 1rem;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
} 

.home-content button:hover {
  transform: scale(1.05);
}

/*second half of home page*/

h2, .first-table-header, .second-table-header {
  font-family: 'Chewy', 'serif';
}

p, td {
  font-family: 'Average Sans', 'serif';
}

.table-section {
  width: 90%;
  align-self: center;
  margin-top: 60px;
  padding: 40px 0;
  text-align: center;
  border-top: 1px groove;
}

.table-section table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.first-table-header th {
  font-size: 2rem;
  padding-bottom: 10px;
}

.second-table-header th {
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.table-section td {
  padding: 0 30px;
  line-height: 1.5;
}

.table-section button {
  background-color: #b95c38;
  color: #f2ebe1;
  padding: 12px 24px;
  font-family: 'Average Sans', 'serif';
  font-size: 1rem;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
}